doctype
html
	head
		title NG2 MEAN
		base(href="/")
		//- bower:css
		link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
		//- endbower
		//- inject:css

		//- endinject
	body
		block main-content

		//- bower:js
		script(src='/vendor/jquery/dist/jquery.js')
		script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
		//- endbower